{% load staticfiles %}

{% block head %}
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome {{ user.username }}|| Get the travelling news feed from the people you are connected</title>
    </head>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/user.css' %}">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,800,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <body {% block body_attrs %}{% endblock %}>
        <div id="header">Traveller Space</div>
        <div id="content">
            <div id="menu">
                <ul>
	                <li><a>Hello {{ user.username }}</a></li>
	                <li><a href="{% url 'main:main' %}"/>feed page</a></li>
	                <li><a href="{% url 'main:history' %}">visit history</a></li>
	                <li><a href="{% url 'main:shortestpath' %}">shortest path</a></li>
	                <li><a href="{% url 'main:logout' %}">log out</a></li>
                </ul>	
		
            </div>
        
{% endblock %}

{% block content %}{% endblock %}

{% block foot %}
    </div>
    
    <script src="{% static 'main/javascript/webscript.js' %}"></script>

    <div id="footer">&copy;Website name</div>

    </body>
</html>
{% endblock %}
