{% extends 'main/base.html' %}

{% block body_attrs %}onload="showMeMap()"{% endblock %}

{% block content %}
    <div id="feedBox">
        <h4>My Travel History</h4>
        <!--HERE WE CAN LOAD ALL THE HISTORY OF THE VISITED PLACES-->
        
        <h5 onclick="showMeUpdates()">Change View</h5>
        <div id="mapLoad" ></div>
        <div id="feedwrapper">
            {% for post in allposts %}
                <div class="feedstyle">
                    <div class="personName">{{ user.username }}</div>
                    <div class="datestyle">{{ post.date|date:"F j" }}</div>
                    <div class="deleteme" post-id="{{ post.id }}">delete</div>
                    {{ post.content }}
                    <div class="mapSpace"></div>
                    
                    <address>
                    <b>Posted at </b>: {{ post.location.address }}
                    </address>
                    
                    {% if user in post.likes.all %}
                        <a href="{% url 'main:unlike' post.id %}"><div class="likeSpace">Unlike</div></a>
                    {% else %}
                        <a href="{% url 'main:like' post.id %}"><div class="likeSpace">Like</div></a>
                    {% endif %}
                    <div class="loadLikes">{{ post.likes.count }} likes</div>
                </div>
            {% endfor %}
        </div>
	
        <!-- ########################### -->

    </div>
{% endblock %}
