<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<title>Welcome to the website</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'main/css/main.css' %}">
<link href='http://fonts.googleapis.com/css?family=Raleway:700,800,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
<body>
<div id="header">
Personal Travelling Timetable</div>
<div id="logo_holder">
<img src="{%static 'main/images/logo.png' %}" width="100" height="100"><br>Welcome to your personal timetable
<br>Record your All important information in easy and simple way
</div>	
<div id="content">
<div id="form_holder">
<form action="{% url 'main:login' %}" method="POST">
{% csrf_token %}
<label class="title">Username</label><input type="text" name="username" class="form_input"/><br><br>
<label class="title">Password</label><input type="password" name="password" class="form_input"/><br><br>
<input type="submit" value="Log in" class="button_design">
</form>

</div>

</div>

<div id="footer">
&copy;Website name</div>

</body>
</html>
