{% extends 'main/base.html' %}

{% block body_attrs %}onload="loadFirst()"{% endblock %}

{% block content %}
    <div id="feed">	
        <div id="updateBox">
            <form id="myForm" onsubmit="checkform()" name="myForm" method="POST" action="{% url 'main:post' %}">
                {% csrf_token %}
                <textarea rows="7" cols="20" placeholder="Whats in your mind" name ="text"></textarea><br>

                <span  class="buttonstyle" onclick="getLocation()" id="loadAutomatically">load address automatically</span>

                <span class="buttonstyle" onclick="showAddBox()">enter address</span><br><br>

                <textarea rows="1" cols="20" placeholder="Enter Address"  id="loadManually"></textarea>
                <br>
                <input type="submit" class="buttonstyle" value="share">		
            </form><br>
            <br><br>
        </div>
        <address id="outputText">
	
        </address>
        <div id="errorMess"></div>	
        <div id="mapload"></div>	

        <h3>What people are saying</h3>

        <div id="feedBox">
            <!--HERE WE CAN LOAD ALL THE FEEDS FROM USERS-->
            {% for post in allposts %}
                <div class="feedstyle">
                    <div class="personName">{{ post.user.username }}</div>
                    <div class="datestyle">{{ post.date|date:"F j" }}</div>
                    {{ post.text }}
                    
                    <div class="mapSpace"></div>
                    
                    {% if user in post.likes.all %}
                        <a href="{% url 'main:unlike' post.id %}"><div class="likeSpace">Unlike</div></a>
                    {% else %}
                        <a href="{% url 'main:like' post.id %}"><div class="likeSpace">Like</div></a>
                    {% endif %}
                    
                    <div class="loadLikes">{{ post.likes.count }} likes</div>
                </div>
	        {% endfor %}
            <!-- ########################### -->

        </div>	
    </div>
{% endblock %}
