{% extends 'main/base.html' %}

{% block content %}

<h3>Calculate the shortest path between two destinations</h3>
<!--HERE WE ARE LOADING MAP WITH ALL THE VISITED LOCATIONS>
<div id="loadMap">


</div>	

<!--HERE WE CAN SHOW THE INPUT FORM, TO ENTER THE DESTINATIONS-->
<div id="calculatePath">
    <form method="POST" action="{% url 'main:shortestpath' %}">
        {% csrf_token %}
        <select  id="sourceAdd" class="selectdesign" name="start">
            {% for location in alllocations %}
                <option value="{{ location.id }}">{{ location.address }}</option>
            {% endfor %}
        </select>
	
        <input type="submit" value="calculate path" onclick="calcRoute()" class="buttonstyle">
    </form>
</div>

{% for loc in path %}

{{ loc.address }}<br />

{% endfor %}

<!--HERE WE CAN SHOW THE SHORTEST PATH RESULT-->
<div id="addressResult">
	
</div>

{% endblock %}
