/* CSS FOR THE WEBSITE
HERE WE CAN WRITE ANY DESCRIPTION 
ABOUT THE CSS FILE
*/
body
{
	background-color:#f7f7f7;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
}
#header
{
	width:39%;
	margin:0 auto;
	color:royalblue;
	padding:2%;
	font-weight:800;
	font-size:1.7em;
}
#logo_holder
{
	font-size:0.8em;
	width:39%;
	margin:0 auto;
}
#logo_holder img
{
	margin-right:2%;
	float:left;
}
#content
{
	clear:both;
	padding:2%;
	min-height:400px;
}
#form_holder
{
	color:white;
	padding:5%;
	background-color:#fff;
	border-radius:5px;
	width:30%;
	margin:0 auto;
}
#form_holder form
{
	width:100%;
	margin:0 auto;
}
.form_input
{
	padding:2%;
	border:#e6e6e6 solid thin;
}
.title
{
	font-family: 'Roboto', sans-serif;
	font-weight:100;
	width:180px;
	float:left;
	color:#000;
	padding-right:10px;
	font-size:0.8em;
}
.button_design
{
	padding:10px;
}
#footer
{
	font-size:0.7em;
	text-align:center;
	color:#555;
}