/* CSS FOR THE USER LAYOUT
CSS FOR THE WEBSITE
HERE WE CAN WRITE ANY DESCRIPTION 
ABOUT THE CSS FILE
*/
body
{
	height:100%;
	width:760px;
	margin:0 auto;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
}
#header
{
	margin:0 auto;
	color:#888;
	padding:2%;
	font-weight:800;
	font-size:1.7em;
	padding-left:0%;
}

#content
{
	min-height:500px;
	background-color:#fff;
	clear:both;
	padding-top:1%;
}
#menu
{
	
	font-family: 'Open Sans', sans-serif;
	text-align:right;
	background-color:#f9f9f9;
	border-bottom:#fff dashed 2px;
	border-top:#fff dashed 2px;	
	width:100%;	
}
ul
{
	padding:0.5px;
}
#feed
{
padding-top:4%;
width:100%;
}
li
{
	display:inline;
}
li a
{
	text-decoration:none;
	color:#555;
	font-size:0.65em;
	padding-right:20px;
}
#updateBox textarea
{
	padding:2%;
	width:96.5%;
	border:#f1f1f1 solid thin;
}
h3,h4
{
	color:#999;
}
#outputText
{
	font-size:0.8em;
	margin-bottom:2%;
}
.personName
{
	font-size:1.3em;
	position:absolute;
	top:-8%;
	color:limegreen;
	font-weight:bold;
}
.datestyle
{
	background-color:#fff;
	position:absolute;
	top:-18%;
	border-radius:100%;
	padding:3%;
	border:#f6f6f6 dashed 2px;
	left:80%;
}
.feedstyle
{
	font-family: 'Open Sans', sans-serif;
	position:relative;
	font-size:0.7em;
	line-height:1.6;
	background-color:#f9f9f9;
	border:#fff solid 2px;
	padding:2%;
	width:78%;
	margin:0 auto;
	padding-top:6%;
	padding-bottom:6%;
	margin-top:6%;
}
.buttonstyle
{
	border-radius:3px;
	border:none;
	padding:0.5%;
	background-color:limegreen;
	color:#fff;
}
span
{
	font-size:0.75em;
}
.buttonstyle:hover
{
	cursor:pointer;
	color:#000;
	background-color:#f8f8f8;
}
.mapSpace
{
	height:5%;
	margin-bottom:3%;
}
.deleteme
{
	position:absolute;
	top:-6%;
	font-size:1.0em;
	font-weight:normal;
	color:red;
	left:95%;
}
.deleteme:hover
{
	cursor:pointer;
}
.selectdesign
{
	border:#e6e6e6 solid thin;
}
address
{
	color:#999;
	padding:0%;
	margin-bottom:2%;
}
.likeSpace
{
	width:10%;
	font-weight:normal;
	float:left;
	color:#777;
}
.loadLikes
{
	float:left;
	width:10%;
	font-weight:normal;
	color:#777;
}
.likeSpace:hover
{
	cursor:pointer;
}
.loadLikes:hover
{
	cursor:pointer;
}
.clearme
{
	clear:both;
}
#feedBox
{
	padding-top:3%;
}
#sourceAdd,#destinationAdd
{
	border:#e6e6e6 solid thin;
	padding:1%;
	margin-right:2%;
}

#mapLoad
{
	position:absolute;
	height:50%;
	width:62%;
}
#mapwrapper
{
	position:relative;
	height:100%;
}
h5:hover
{
	cursor:pointer;
}
#footer
{
	padding-top:2%;
	clear:both;
	font-size:0.7em;
	text-align:center;
	color:#555;
}